*{
    font-family:'Roboto', sans-serif;
}
a{
    text-decoration: none;
}


footer{
    text-align: center;
    border-top: 9px #AACE9B solid;
}
.footer-container-social{
    padding-top: 50.5px;
}
.footer-container-social a{
    font-size: large;
    padding: 31px;
}
.footer-container-social a img{
    width: 50px;
    height: 50px;
}
.footer-container-text{
    margin: 42px 0px 37px 0px;
    font-size: 12px;
}
.footer-container-text p:not(:first-child){
    margin-top: 26px;

}