<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Mega Rocket</title>
</head>
<body>
    <header>
        <div class="header-bot-container">
            <div>
                <img src="../assets/img/icon-hamburger.png" alt="Hamburger Icon">
                <h1>Mega Rocket</h1>
            </div>
            <div>
                <a href="https://www.instagram.com/" target="_blank"><img class="social-logo-header"
                src="../../assets/img/icon-instagram.png" alt="Instagram Logo"></a>
                <a href="https://www.facebook.com/" target="_blank"><img class="social-logo-header"
                src="../../assets/img/icon-facebook.png" alt="Facebook Logo"></a>
                <a href="https://github.com/AleMac17" target="_blank"><img class="social-logo-header"
                src="../../assets/img/icon-github.png" alt="Github Logo"></a>
                <a href="https://www.linkedin.com/" target="_blank"><img class="social-logo-header"
                src="../../assets/img/icon-linkedin.png" alt="LinkedIn Logo"></a>
                <a href="https://twitter.com/home" target="_blank"><img class="social-logo-header"
                src="../../assets/img/icon-twitter.png" alt="Twitter Logo"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="section-title-aside">
            <section class="section-form">
                <h2>Mega Rocket</h2>
                <h3>Login</h3>
                <form class="form-container" id="submitForm">
                    <div class="form-container-data form-flex">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email">
                        <!--<img src="../../assets/img/icon-mail.png" alt="Mail Icon">-->
                    </div>
                    <div class="form-container-data form-flex">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                        <!--<img src="../../assets/img/icon-lock.png" alt="PadLock Icon">-->
                    </div>
                    <div>
                        <a href="">Forgot password?</a>
                        <a href="../views/sign-up.html">Create a partner account</a>
                    </div>
                    <div class="form-buttons">
                        <button type="reset">Clear</button>
                        <button type="submit">Sign In</button>
                    </div>
                </form>
            </section>
            <aside class="display-none">
                <div>
                    <input type="search" name="search" id="search" placeholder="Search">
                </div>
                <nav>
                    <h3>Menu</h3>
                    <div>
                        <a href="">Home</a>
                        <a href="../views/sign-up.html">Sign Up</a>
                        <a href="../views/login.html">Log In</a>
                        <a href="">Contact Information</a>
                    </div>
                </nav>
                <section>
                    <h3>Contact Us</h3>
                    <p id="aside-section-first-p">Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                    <div>
                    <img src="../../assets/img/icon-mail.png" alt="Mail Icon">
                    <p>info.megarocket@megarocket.com</p>
                    </div>
                    <div id="middle-contact">
                    <img src="../../assets/img/icon-telephone.png" alt="Telephone Icon">
                    <p>info.megarocket@megarocket.com</p>
                    </div>
                    <div>
                    <img src="../../assets/img/icon-house.png" alt="House Icon">
                    <p>AAA xxx, Rosario, Argentina, CP 2000</p>
                    </div>
                </section>
            </aside>
        </div>
    </main>
    <footer>
        <div class="footer-container-social">
            <a href="https://www.linkedin.com/" target="_blank">
                <img class="social-logo-footer" src="../../assets/img/icon-linkedin.png" alt="LinkedIn Logo">
            </a>
            <a href="https://twitter.com/home" target="_blank">
                <img class="social-logo-footer" src="../../assets/img/icon-twitter.png" alt="Twitter Logo">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img class="social-logo-footer" src="../../assets/img/icon-facebook.png" alt="Facebook Logo">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img class="social-logo-footer" src="../../assets/img/icon-instagram.png" alt="Instagram Logo">
            </a>
            <a href="https://github.com/AleMac17" target="_blank">
                <img class="social-logo-footer" src="../../assets/img/icon-github.png" alt="Github Logo">
            </a>
        </div>
        <div class="footer-container-text">
            <p>Rosario,Argentina.</p>
            <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="../js/login.js"></script>
</html>

