<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Mega Rocket</title>
</head>
<body> 
    <header>
        <img src="" alt="">
    </header>
    <div>
        <h2>Mega Rocket</h2>
        <h3>Sign Up</h3>
        <form id="submitForm">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Alfonso">
            </div>
            <div>
                <input type="text" name="lastName" id="lastName" placeholder="Garcia">
            </div>
            <div>
                <label for="dni">DNI</label>
                <input type="text" name="dni" id="dni" placeholder="11324897">
            </div>
            <div>
                <label for="birthdate">Birthdate</label>
                <input type="date" name="birthdate" id="birthdate">
            </div>
            <div>
                <label for="phoneNumber">Phone Number</label>
                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="+5493413380888">
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text" name="address" id="address" placeholder="FalseStreet 123">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="location" id="location" placeholder="Springfield">
            </div>
            <div>
                <label for="postalCode">Postal Code</label>
                <input type="text" name="postalCode" id="postalCode" placeholder="1234">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" placeholder="Alfonso@hotmail.com">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="rPassword">Repeat Password</label>
                <input type="password" name="rPassword" id="rPassword">
            </div>
            <div>
                <button>Home</button>
                <button>Sign Up</button>
            </div>
        </form>
    </div>
    <footer>
        <span>Mega Rocket, S.A.</span>
    </footer>
    <script src="../js/sign-up.js"></script>
</body>

</html>