footer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 3vh;
    text-align: center;
    border-top: 9px #AACE9B solid;
}
.footer-container-social{
    display: flex;
    justify-content: space-evenly;
}
.footer-container-social a{
    font-size: large;
}
.footer-container-text{
    font-size: 12px;
    font: var(--font-secondary-body);
    font-weight: 500;
    color: rgb(104, 105, 119);
}
.social-logo-footer{
    width: 50px;
    height: auto;
}